/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {

    /* Colors */
    --sedans: hsl(31, 77%, 52%);
    --suvs: hsl(184, 100%, 22%);
    --luxury: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --bkg-hd-btn: hsl(0, 0%, 95%);
    --white: #FFF;

    /* Fonts */
    --primary-font: 'Lexend Deca', sans-serif;
    --second-font: 'Big Shoulders Display', cursive;
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* Globals */
body {
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}

/* Center container */
.center-cnt {
    width: 90%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main Card */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid__item {
    padding: 40px;
    height: 500px;
    width: 300px;
}
.grid__item:nth-child(1) {
    background-color: var(--sedans);
    border-radius: 10px 0 0 10px;
}
.grid__item:nth-child(2) {
    background-color: var(--suvs);
}
.grid__item:nth-child(3) {
    background-color: var(--luxury);
    border-radius: 0 10px 10px 0;
}

/* Main card info */
.title {
    font-size: 35px;
    font-family: var(--second-font);
    color: var(--white);
    text-transform: uppercase;
}
.description {
    color: var(--paragraphs);
    line-height: 1.7;
}

/* Learn More button*/
.btn {
    margin-top: 70px;
    outline: none;
    border: 3px solid var(--white);
    background-color: var(--white);
    padding: 15px;
    border-radius: 50px;
    width: 70%;
    box-shadow: 1px 1px 5px rgba(56, 56, 56, 0.5);
    cursor: pointer;
    font-weight: bold;
}
.grid__item:nth-child(1) > .btn {
    color: var(--sedans);
}
.grid__item:nth-child(2) > .btn {
    color: var(--suvs);
}
.grid__item:nth-child(3) > .btn {
    color: var(--luxury);
}
.grid__item > .btn:hover {
    background: none;
    color: var(--white);
}

/* Media Query MOBILE */
@media screen and (max-width: 375px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        height: 90vh;
    }
    .grid__item:nth-child(1) {
        border-radius: 10px 10px 0 0;
    }
    .grid__item:nth-child(3) {
        border-radius: 0 0 10px 10px;
    }
}